[submodule "third_party/optick"]
	path = third_party/optick
	url = https://github.com/bombomby/optick.git
[submodule "third_party/magic_enum"]
	path = third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost.git
[submodule "third_party/SDL2"]
	path = third_party/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
